<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RailRoadVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RailRoadVPNAppNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <WindowsFormsApp1.Properties.Settings>
      <setting name="user_uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="vpn_configuration" serializeAs="String">
        <value />
      </setting>
      <setting name="is_ok" serializeAs="String">
        <value>False</value>
      </setting>
    </WindowsFormsApp1.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <RailRoadVPN.Properties.Settings>
      <setting name="user_uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="vpn_configuration" serializeAs="String">
        <value />
      </setting>
      <setting name="is_ok" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="x_device_token" serializeAs="String">
        <value />
      </setting>
    </RailRoadVPN.Properties.Settings>
    <RailRoadVPNAppNS.Properties.Settings>
      <setting name="user_uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="vpn_configuration" serializeAs="String">
        <value />
      </setting>
      <setting name="is_ok" serializeAs="String">
        <value>False</value>
      </setting>
    </RailRoadVPNAppNS.Properties.Settings>
  </userSettings>
</configuration>