<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RailRoadVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="RailRoadVPNAppNS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RailRoadVPN.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <RailRoadVPN.Properties.Settings>
      <setting name="user_uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="x_device_token" serializeAs="String">
        <value />
      </setting>
      <setting name="locale" serializeAs="String">
        <value />
      </setting>
      <setting name="device_id" serializeAs="String">
        <value />
      </setting>
      <setting name="device_uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="servers_json" serializeAs="String">
        <value />
      </setting>
      <setting name="server_uuid" serializeAs="String">
        <value />
      </setting>
      <setting name="vpn_status" serializeAs="String">
        <value />
      </setting>
    </RailRoadVPN.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <RailRoadVPN.Properties.Settings>
      <setting name="openvpn_logfile_name" serializeAs="String">
        <value>openvpn_wip.log</value>
      </setting>
      <setting name="app_logfile_name" serializeAs="String">
        <value>rroadvpn.log</value>
      </setting>
      <setting name="openvpn_management_host" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="openvpn_management_port" serializeAs="String">
        <value>7505</value>
      </setting>
      <setting name="local_app_openvpn_binaries_dir" serializeAs="String">
        <value>rroad_openvpn</value>
      </setting>
      <setting name="local_app_openvpn_servers_config_dir" serializeAs="String">
        <value>servers</value>
      </setting>
      <setting name="local_app_openvpn_exe_path" serializeAs="String">
        <value>openvpn\\rroad_openvpn.exe</value>
      </setting>
      <setting name="local_app_openvpn_tap_exe_path" serializeAs="String">
        <value>\\tap-windows.exe</value>
      </setting>
      <setting name="local_app_openvpn_binaries_dir_checksum" serializeAs="String">
        <value>a36ba82d98d7e7ef5315b37ae53b7528</value>
      </setting>
      <setting name="local_app_logs_dir" serializeAs="String">
        <value>logs</value>
      </setting>
      <setting name="app_version" serializeAs="String">
        <value>1.0a</value>
      </setting>
    </RailRoadVPN.Properties.Settings>
  </applicationSettings>
</configuration>